<% procide(:title, 'Contact') %>
<h1>Contact Us</h1>
 <p>To contact us, please visite the page 
 	<a href="http://railstutorial.org/contact">Ruby on Rails Tutorial Contact page</a>
 	for our contact information.
 </p>
